/* caixa principal */
body {
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
}
/* display do tabuleiro */
.jogo {
  text-align: center;
}
.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3,1080px);
}
/* quadrado do jogo_da_velha */
.celula {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 2px solid #333;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
