body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #ca7474;
  min-height:100vh;
}
.jogo {
  text-align: center;
}
.tabuleiro {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-top: 20px;
}
.celula {
  width: 100px;
  height: 100px;
  background-color: #f6f4f7;
  border: 2px solid #333;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.celula:hover {
  background-color: #eee;
}
.celula.vencedor {
  background-color: #aaffaa;
}